<!DOCTYPE html>

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>CC-Management</title>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="Components/JavaScript/app-controller.js"></script>
		<link rel="stylesheet" type="text/css" href="Components/CSS/Styles.css" />

	</head>
	<body ng-app="CRMApp" ng-controller="CRMAppctrl">
		<div id="Main-Heading">
			<h1 align="center"> CALL CENTER MANAGEMENT</h1>
		</div>
		<div id="Campaign-Filter">
				<h3><label class="right">Campaign-Filter : </label>
				<div class="right"><form >
  					<input list="campaigns" ng-model="campaign"class="lie"placeholder="Campaign List" style="padding: 0px 10px">
  					<datalist id="campaigns">

    					<option value="Update Aadhar">
    					<option value="Lost Debit Card">
    					<option value="Request return">
    					
  					</datalist>
  				
				</form></h3></div>
		</div>
		<br><br>
		<div id="Search">
			<h3><label> Search: <input ng-model="searchText" style="padding: 0px 10px"></label></h3>

		</div>
		<hr>
		<div class="col-lg-6">
		<div id="Pending-List">
			<h3>PENDING LIST</h3>
			<table id="Pending-Table">
  				<tr><th>Name</th><th>Phone</th><th>Campaign</th><th>Status</th><th></th></tr>
  				<tr ng-repeat="customer in pendinglist | filter:searchText|filter:campaign">
    				<td>{{customer.name}}</td>
    				<td>{{customer.phone}}</td>
    				<td>{{customer.campaign}}</td>
					<td>{{customer.status}}</td>
					<td>
					<button class="remove"  ng-click="moveToCompletedList($index)">Completed</button>
					</td>
  				</tr>
			</table>
		</div></div>
		<div class="col-lg-6">
		<div id="Completed-List">
			<h3>COMPLETED LIST</h3>
			<table id="Completed-Table">
  				<tr><th>Name</th><th>Phone</th><th>Campaign</th><th>Status</th></tr>
  				<tr ng-repeat="customer in completedlist | filter:searchText |filter:campaign">
    				<td>{{customer.name}}</td>
    				<td>{{customer.phone}}</td>
    				<td>{{customer.campaign}}</td>
    				<td>{{customer.status}}</td>
  				</tr>
			</table>
		</div>
	</div>
	</body>

</html>