<!DOCTYPE html>

<html lang="en">
	<head>
		<title>CRM</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="Components/JavaScript/app-controller.js"></script>
	</head>
	<body ng-app="CRMApp" ng-controller="CRMAppctrl">
		<div id="Main-Heading">
			<h1 align="center"> CUSTOMER RELATIONSHIP MANAGEMENT</h1>
		</div>
		<div id="Campaign-Filter">
				<h3> Campaign-Filter</h3>
				<label>Search: <input ng-model="searchText"></label>
				
		</div>
		<div id="Pending-List">
			<h3>PENDING LIST</h3>
			<table id="Pending-Table">
  				<tr><th>Name</th><th>Phone</th><th>Campaign</th><th>Status</th></tr>
  				<tr ng-repeat="customer in pendinglist | filter:searchText">
    				<td>{{customer.name}}</td>
    				<td>{{customer.phone}}</td>
    				<td>{{customer.campaign}}</td>
    				<td>{{customer.status}}</td>
  				</tr>
			</table>
		</div>

		<div id="Completed-List">
			<h3>COMPLETED LIST</h3>
			<table id="Completed-Table">
  				<tr><th>Name</th><th>Phone</th><th>Campaign</th><th>Status</th></tr>
  				<tr ng-repeat="customer in completedlist | filter:searchText">
    				<td>{{customer.name}}</td>
    				<td>{{customer.phone}}</td>
    				<td>{{customer.campaign}}</td>
    				<td>{{customer.status}}</td>
  				</tr>
			</table>
		</div>
	</body>

</html>